<div class="flex justify-center mt-10 ">
    <div class="z-1 relative w-4/5 min-w-280 max-w-350 border sm:border-2 border-brand-red trans-black rounded-xl">
        <div class="flex justify-center">
            <h1 class="py-8 font-oswald text-brand-white font-thin text-5xl">Sign In</h1>
        </div>

        <form method="POST" novalidate>
            {{ form.csrf_token() }}

            <div class="flex flex-col justify-center">
                {% if form.username_or_email.errors %}
                <div class="-mb-1 rounded-xl mx-5 bg-brand-red">
                    <span

                            class="ml-2 font-oswald text-brand-white antialiased"
                    >Username is a required field</span
                    >
                </div>
                {% endif %}

                {{ form.username_or_email (class="mt-2 mx-4 red-input placeholder-brand-white", placeholder="Username",
                type="email") }}

                {% if form.password.errors %}
                <div class="-mb-2 mt-3 rounded-xl mx-5 bg-brand-red">
                    <span
                            class="ml-2 font-oswald text-brand-white antialiased"
                    >Password is a required field</span
                    >
                </div>
                {% endif %}

                {{ form.password (class="mt-3 mx-4 red-input placeholder-brand-white", placeholder="Password") }}

                <div class="mt-16 flex align-center justify-center w-full">
                    <button
                            class="transition-w-1s w-3/5 h-20 text-brand-white font-oswald font-light text-3xl border sm:border-2 rounded-xl border-brand-red focus:outline-none"
                            type="submit"
                    >
                        Proceed
                    </button>

                </div>
            </div>
        </form>

        <div class="pt-8 mb-10 flex justify-center">
            <a
                    class="font-arvo text-brand-white text-11 no-underline sm:text-12 antialiased"
                    href="{{ url_for('auth.sign_up') }}"
            >Haven't signup yet?</a
            >
            <span class="text-brand-white px-2"></span>
            <a
                    class="font-arvo text-brand-white text-11 no-underline sm:text-12 antialiased"
                    href="{{ url_for('auth.account_recover') }}"
            >Forgot your password?</a
            >
        </div>
    </div>
</div>