{% extends "layout.html" %}

{% block page_title %}
Create Quest | Stealth X
{% endblock %}

{% block content %}
<div class="min-h-675 min-w-320 fixed z-0 top-0 w-full h-screen bg-brand-blacklight" id="particles"></div>

<div class="flex justify-center mt-4 antialiased">
    <div class="z-1 relative w-full mx-4 md:w-4/5 max-w-screen-lg border sm:border-2 border-brand-red trans-black rounded-xl flex">

        <div class="px-5 py-2 h-full hidden sm:block sm:border-r-2 border-brand-red">
            <div class="flex flex-col h-full justify-center items-center">
                <p class="text-brand-white font-oswald text-xl lg:text-2xl">Spool III</p>
                <div class="w-32 h-5 border-2 border-brand-red rounded flex  items-center">
                    <div class="w-2/5 rounded-sm mx-1 h-3 bg-brand-indicator">

                    </div>
                </div>
                <p class="text-brand-white font-oswald text-base lg:text-lg">80/900 Hacking Points</p>
            </div>
        </div>

        <div class="text-center flex-1 py-4 flex flex-col items-center justify-center">
            <h1 class="font-oswald text-3xl sm:text-4xl lg:text-5xl text-brand-white -my-2">
                Create Quest
            </h1>
            <p class="font-arvo text-sm sm:text-base lg:text-lg text-brand-white lg:-my-2">Be a quest master</p>

        </div>
    </div>
</div>


<div class="flex justify-center mt-3 antialiased">
    <div class="z-1 relative w-full mx-4 md:w-4/5 max-w-screen-lg border sm:border-2 border-brand-red trans-black rounded-xl flex flex-col">

        <div class="mx-6 sm:mx-12 mt-5 font-oswald text-brand-white">
            <label class="text-xl sm:text-2xl">Quest Title</label>

            <input class="block mt-3 red-input rounded-lg w-full text-xl sm:text-2xl placeholder-brand-white " type="text">
        </div>

        <div class="mx-6 sm:mx-12 mt-5 font-oswald text-brand-white">
            <label class="text-xl sm:text-2xl">Upload Avatar</label>
            <input hidden type="file" id="avatar-upload-input">

            <div class="mt-3 cursor-pointer block text-brand-white border sm:border-2 rounded-lg border-brand-red w-full h-10 focus:outline-none flex items-center whitespace-no-wrap" id="avatar-upload-btn" >
                <label class="px-2 border-r sm:border-r-2 border-brand-red h-full flex items-center justify-center">Choose File</label>
                <label class="mx-2 overflow-hidden" id="avatar-file-label"></label>
            </div>


        </div>

        <div class="mx-6 sm:mx-12 mt-5 font-oswald text-brand-white">
            <label class="text-2xl">Short Description</label>

            <textarea class="block mt-3 h-18 red-input rounded-lg w-full text-xl sm:text-2xl placeholder-brand-white "></textarea>
        </div>

        <div class="mx-6 sm:mx-12 mt-5 font-oswald text-brand-white">
            <label class="text-xl sm:text-2xl">Description</label>

            <textarea class="block mt-3 h-32 red-input rounded-lg w-full text-xl sm:text-2xl placeholder-brand-white "></textarea>
        </div>

        <div class="mx-6 sm:mx-12 mt-5 font-oswald text-brand-white">
            <label class="text-xl sm:text-2xl">Meta Tags</label>
            <div class="block mt-3 h-auto red-input px-0 rounded-lg text-xl sm:text-2xl flex items-center flex-wrap" id="tag-container">

                <input class="flex-1 my-2 bg-transparent focus:outline-none text-base placeholder-brand-white ml-4" placeholder="Separate by commas" id="tag-input">
            </div>
        </div>

        <div class="block mx-6 sm:mx-12 mt-8 font-oswald text-brand-white rounded-lg border sm:border-2 border-brand-red">
            <form class="">
                <label class="p-4 text-xl sm:text-2xl">Type: </label>

                <div class="ml-4 mt-2 sm:inline flex sm:flex-none">
                    <div class="inline">
                        <input type="radio" value="vm" id="vm" name="type">
                        <label class="pr-3 text-lg" for="vm">VM Image</label>
                    </div>

                    <div class="inline">
                        <input type="radio" class="" value="downloadable-file" id="downloadable-file" name="type">
                        <label class="text-lg" for="downloadable-file">Downloadable File</label>
                    </div>
                </div>


                <div class="mt-3 sm:flex sm:items-center ">
                    <label class="p-4 text-xl sm:text-2xl">Upload File</label>
                    <input hidden type="file" id="vm-file-upload-input">

                    <div class="cursor-pointer flex-1 mt-2 sm:mt-0 mx-4 sm:mx-0 sm:mr-2 text-brand-white border sm:border-2 rounded-lg border-brand-red h-10 focus:outline-none flex items-center whitespace-no-wrap" id="vm-file-upload-btn" >
                        <label class="px-2 border-r sm:border-r-2 border-brand-red h-full flex items-center justify-center">Choose File</label>
                        <label class="mx-2 overflow-hidden" id="vm-file-upload-label"></label>
                    </div>
                </div>

                <p class="text-xs sm:text-sm font-arvo ml-4 whitespace-pre" id="type-legend"></p>

                <button class="border sm:border-2 border-brand-red w-24 rounded-lg focus:outline-none text-lg m-4" type="submit">Upload</button>
            </form>
        </div>

        <div class="block mx-6 sm:mx-12 mt-8 font-arvo text-brand-white text-base sm:text-lg rounded-lg border sm:border-2 border-brand-red">
            <div class="border-b sm:border-b-2 border-brand-red flex items-center justify-between">
                <p class="p-2 sm:p-4 ml-2 flex-1">Chapter 1: Introduction</p>

                <div class="p-4 sm:pr-6 flex items-center flex-wrap justify-end">
                    <button class="border sm:border-2 border-brand-red rounded-lg focus:outline-none w-20 m-1 sm:m-0 sm:mr-4">Edit</button>
                    <button class="border sm:border-2 border-brand-red rounded-lg focus:outline-none w-20 m-1 sm:m-0">Delete</button>
                </div>

            </div>

            <div class="flex justify-center h-32">
                <button class="border sm:border-2 border-brand-red rounded-lg w-40 h-10 mt-16 focus:outline-none">Create chapter</button>
            </div>
        </div>


        <div class="font-oswald text-brand-white text-xl sm:text-2xl flex flex-col sm:flex-row items-center justify-center py-16">
            <button class="border sm:border-2 border-brand-red rounded-lg focus:outline-none px-5 py-2 sm:mr-10 ">Save Draft</button>
            <button class="border sm:border-2 border-brand-red rounded-lg focus:outline-none px-5 py-2 sm:mr-10 mt-6 sm:mt-0">Preview</button>
            <button class="border sm:border-2 border-brand-red rounded-lg focus:outline-none px-5 py-2 mt-6 sm:mt-0">Submit for Review</button>
        </div>
    </div>
</div>

{% endblock %}

{% set data_view = "createQuest" %}
{% set with_sidebar = True %}
{% set sb_create_quest = True %}

{% block js %}
<script nonce="{{ csp_nonce() if config['ENV'] == 'production' }}">
    window.xBtnLink = "{{ webpack_url_for('svg/global/x-icon.svg') }}"
</script>

{% endblock js %}