.trans-black {
  background-color: rgba(25, 22, 22, 0.8);
}

.trans-black-70 {
  background-color: rgba(25, 22, 22, 0.7);
}

.trans-black-80 {
  background-color: rgba(25, 22, 22, 0.8);
}

.truncate-90 {
    @apply truncate;
    width: calc(90%);
}

.truncate-95 {
    @apply truncate;
    width: calc(95%);
}