{% extends "layout.html" %}

{% block page_title %}
Pricing | Stealth X
{% endblock %}

{% block content %}
<div class="min-h-675 min-w-320 fixed z-0 top-0 w-full h-screen bg-brand-blacklight" id="particles"></div>
<div class="flex flex-col items-center md:flex-row md:justify-center mt-10">
    <div class="z-1 relative w-4/5 min-w-280 max-w-370 border sm:border-2 border-brand-red trans-black rounded-xl">

        <div class="flex justify-center">
            <h1 class="py-8 font-oswald text-brand-white text-4xl sm:text-4.5xl">Guardian Member</h1>
        </div>

        <div class="flex justify-center">
            <ul class="font-arvo text-brand-white text-lg sm:text-xl">
                <li>- Access to All Quests</li>
                <li>- Access to Shared-VM</li>
                <li>- Deploy your own VM</li>
                <li>- Join 5 quests simultaneously</li>
                <li>- Include Free Perks</li>
            </ul>
        </div>

        <div class="flex justify-center mt-16">
            <div class="font-arvo text-center text-brand-white ">
                <p class="text-xl">P550 /month</p>
                <p class="text-lg">P399 for students</p>
            </div>
        </div>

        <a href="{{ url_for('payment.checkout_type_plan', plan='guardian') }}">
             <div class="mt-8 mb-8 flex align-center justify-center w-full">
                <button
                        class="transition-w-1s w-3/5 h-20 text-brand-white font-oswald font-light text-3xl border sm:border-2 rounded-xl border-brand-red focus:outline-none"
                >
                    Proceed
                </button>
            </div>
        </a>

        <div class="text-center text-brand-white mb-6 m-2">
            <p class="text-sm">*Please contact us to our official Facebook page to get student discount.</p>
            <p class="text-sm">https://fb.com/stealthx.official</p>
        </div>
    </div>
    <div class="h-6 md:w-10">
    </div>
    <div class="z-1 relative w-4/5 min-w-280 max-w-370 border sm:border-2 border-brand-red trans-black rounded-xl">

        <div class="flex justify-center">
            <h1 class="py-8 font-oswald text-brand-white text-4xl sm:text-4.5xl">Mania Member</h1>
        </div>

        <div class="flex justify-center">
            <ul class="font-arvo text-brand-white text-lg sm:text-xl">
                <li>- Access to All Quests</li>
                <li>- Access to Shared-VM</li>
                <li>- Deploy your own VM</li>
                <li>- Join unlimited quests</li>
                <li>- Include Free Perks</li>
                <li>- Faster machines</li>
            </ul>
        </div>

        <div class="flex justify-center mt-8">
            <div class="font-arvo text-center text-brand-white ">
                <p class="text-xl">P975 /month</p>
                <p class="text-lg">P799 for students</p>
            </div>
        </div>

        <a href="{{ url_for('payment.checkout_type_plan', plan='mania') }}">
             <div class="mt-8 mb-8 flex align-center justify-center w-full">
                <button
                        class="transition-w-1s w-3/5 h-20 text-brand-white font-oswald font-light text-3xl border sm:border-2 rounded-xl border-brand-red focus:outline-none"
                >
                    Proceed
                </button>
            </div>
        </a>

        <div class="text-center text-brand-white m-2 mb-6">
            <p class="text-sm">*Please contact us to our official Facebook page to get student discount.</p>
            <p class="text-sm">https://fb.com/stealthx.official</p>
        </div>
    </div>
</div>
{% endblock content%}

{% set data_view = "particlesWithSidebar" %}
{% set with_sidebar = True %}
{% set sb_subscription = True %}
