{% extends 'layout.html' %}

{% block content %}
<div class="min-h-675 min-w-320 fixed z-0 top-0 w-full h-screen bg-brand-blacklight" id="particles"></div>

<div class="flex justify-center mt-10 ">
    <div class="z-1 relative w-4/5 min-w-280 max-w-350 border sm:border-2 border-brand-red trans-black rounded-xl">
        <div class="flex justify-center">
            <h1 class="py-5 font-oswald text-brand-white font-thin text-4xl sm:text-5xl">Account Recovery</h1>
        </div>

        <form method="POST" novalidate>
            {{ form.csrf_token() }}

            <div class="flex flex-col justify-center">
                {% if form.password.errors %}
                <div class="-mb-1 rounded-xl mx-5 bg-brand-red">
                    <span

                            class="ml-2 font-oswald text-brand-white antialiased"
                    >{{ form.password.errors[0] }}</span
                    >
                </div>
                {% endif %}


                {{ form.password (class="mt-2 mx-4 red-input placeholder-brand-white", placeholder="Password",
                type="password") }}

                {% if form.confirm.errors %}
                <div class="-mb-1 rounded-xl mx-5 bg-brand-red">
                    <span

                            class="ml-2 font-oswald text-brand-white antialiased"
                    >{{ form.confirm.errors[0] }}</span
                    >
                </div>
                {% endif %}


                {{ form.confirm (class="mt-2 mx-4 red-input placeholder-brand-white", placeholder="Confirm Password",
                type="password") }}

                <div class="mt-12 mb-8 flex align-center justify-center w-full">
                    <button
                            class="transition-w-1s w-3/5 h-20 text-brand-white font-oswald font-light text-3xl border sm:border-2 rounded-xl border-brand-red focus:outline-none"
                            type="submit"
                    >
                        Proceed
                    </button>

                </div>
            </div>
        </form>

    </div>
</div>
{% endblock %}

{% set data_view = "particlesOnly" %}