<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{% block page_title %}

        Stealth X | Official Site

        {% endblock %}
    </title>
    <meta content="{% block meta_description %}{% endblock %}" name="description">
    <meta content="{% block meta_author %}Paulo Sairel Don{% endblock %}" name="author">
    <meta content="{% block og_image %}{{ static_url_for('static', filename='img/home/home-thumbnail.jpg') }}{% endblock %}" property="og:image"/>

    <meta content="{% block twitter_image %} {{ static_url_for('static', filename='img/home/home-thumbnail.jpg') }} {% endblock %}" name="twitter:image"/>

    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta content="width=device-width" name="viewport">

    <link href="{{static_url_for('static', filename='img/favicon.ico')}}" rel="icon"/>

    <link as="style" href="{{ static_url_for('static', filename='pack/main_css.css') }}" rel="preload">
    <noscript>
        <link href="{{ static_url_for('static', filename='pack/main_css.css') }}" rel="stylesheet">
    </noscript>

    <link as="style" href="https://fonts.googleapis.com/css?family=Arvo|Oswald:200,300,400&display=swap" rel="preload">
    <noscript>
        <link href="https://fonts.googleapis.com/css?family=Arvo|Oswald:200,300,400&display=swap" rel="stylesheet">
    </noscript>

    <script nonce="{{ csp_nonce() if config['ENV'] == 'production' }}">
        let stylesheetObj = document.querySelectorAll("link[as='style']");
        let stylesheetNum = stylesheetObj.length;

        for (let i = 0; i < stylesheetNum; i++) {
            stylesheetObj[i].onload = function() {
                stylesheetObj[i].onload = null;
                stylesheetObj[i].rel = 'stylesheet';
                }
            }

    </script>

    {% block css %}{% endblock %}

</head>
<body class="{% block body_class %}min-w-320{% endblock %}">
{% block body %}

{% if not no_nav %}
{% include "nav.html" %}
{% endif %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        <div class="relative z-10 flex justify-center {{ 'bg-brand-red' if category == 'warning' }}">
            <span class="{{ 'bg-brand-blackdark mt-1 py-1 px-4 border sm:border-2 border-brand-red rounded-lg mx-2' if category == 'success' }} font-oswald text-brand-white sm:text-white sm:text-lg">{{ message }}</span>
        </div>
    {% endfor %}
{% endif %}
{% endwith %}

<header>{% block header %}{% endblock %}</header>

<main role="main">

    {% block content %}{% endblock %}
</main>


{% include "footer.html" %}


<!-- JavaScript at the bottom for fast page loading -->
<script nonce="{{ csp_nonce() if config['ENV'] == 'production' }}">
    {% if config['ENV'] == 'production' %}
        window.NONCE = "{{ csp_nonce() }}";
    {% endif %}
</script>
<script data-view="{{ data_view }}" id="main_js" nonce="{{ csp_nonce() if config['ENV'] == 'production' }}"
        src="{{ static_url_for('static', filename='pack/main_js.js') }}"></script>
{% block js %}{% endblock %}
<!-- end scripts -->
{% endblock %}
</body>
</html>

