<aside id="sidebar" class="hidden fixed z-20 top-0 left-0  overflow-y-auto trans-black-80 h-full w-full sm:w-240 ">

    <button class="mt-2 ml-3 focus:outline-none" id="sb_x_button">
        <img class="h-50" src="{{ webpack_url_for('svg/global/x-icon.svg') }}" alt="X Icon">
    </button>

    <div class="font-oswald text-brand-white text-2xl mt-18 pt-8 text-center sm:text-left">
        <div>
            <button class="pl-3 mb-2 focus:outline-none text-3xl ">
                The Journey
                <span class="arrow-down border-brand-red mb-1 ml-1"></span>
            </button>

            <div id="journey-drop-down" class="">
                <div class="font-light sm:font-normal sm:pl-8 mb-2 {{ 'border-2 border-brand-red' if sb_your_journey }}">
                    <a href="{{ url_for('journey.your_journey') }}">
                        Your Journey
                    </a>
                </div>

                <div class="font-light sm:font-normal sm:pl-8 mb-2 {{ 'border-2 border-brand-red' if sb_quests }}">
                    <a href="#">
                        Quests
                    </a>
                </div>

                <div class="font-light sm:font-normal sm:pl-8 mb-2 {{ 'border-2 border-brand-red' if sb_quests_plus }}">
                    <a href="#">
                        Quests+
                    </a>
                </div>
            </div>
        </div>

        <div>
            <button class="pl-3 mb-2 focus:outline-none text-3xl ">
                Account
                <span class="arrow-down border-brand-red mb-1 ml-1"></span>
            </button>

            <div id="account-drop-down">

                <div class="font-light sm:font-normal sm:pl-8 mb-2 {{ 'border-2 border-brand-red' if sb_profile }}">
                    <a href="{{ url_for('account.profile') }}">
                        Your Profile
                    </a>
                </div>

                <div class="font-light sm:font-normal sm:pl-8 mb-2 {{ 'border-2 border-brand-red' if sb_account_settings }}">
                    <a href="{{ url_for('account.settings') }}">
                        Account Settings
                    </a>
                </div>

                <div class="font-light sm:font-normal sm:pl-8 mb-2 {{ 'border-2 border-brand-red' if sb_personal_info }}">
                    <a href="{{ url_for('account.personal_information') }}">
                        Personal Information
                    </a>
                </div>

                <div class="font-light sm:font-normal sm:pl-8 mb-2 {{ 'border-2 border-brand-red' if sb_subscription }}">
                    <a href="{{ url_for('account.subscription') }}">
                        Subscription
                    </a>
                </div>
            </div>

        </div>

        <div>
            <button class="pl-3 mb-2 focus:outline-none text-3xl ">
                Quest Master
                <span class="arrow-down border-brand-red mb-1 ml-1"></span>
            </button>

            <div id="quest-master-drop-down">

                <div class="font-light sm:font-normal sm:pl-8 mb-2 {{ 'border-2 border-brand-red' if sb_profile }}">
                    <a href="#">
                        Create Quest
                    </a>
                </div>

                <div class="font-light sm:font-normal sm:pl-8 mb-2 {{ 'border-2 border-brand-red' if sb_account_settings }}">
                    <a href="#">
                        Manage Quests
                    </a>
                </div>

            </div>

        </div>
    </div>
</aside>