<aside id="sidebar" class="hidden fixed z-20 top-0 left-0 trans-black-80 h-full w-full sm:w-220 ">

    <button class="mt-2 ml-3 focus:outline-none" id="sb_x_button">
        <img class="h-50" src="{{ webpack_url_for('svg/global/x-icon.svg') }}" alt="X Icon">
    </button>

    <div class="font-oswald text-brand-white text-2xl mt-18 pt-8 text-center sm:text-left">
        <div class="pl-3 mb-2 {{ 'border-2 border-brand-red' if sb_dashboard }}">
            <a href="{{ url_for('account.dashboard') }}">Dashboard</a>
        </div>

        <div class="pl-3 mb-2 {{ 'border-2 border-brand-red' if sb_account_settings }}">
            <a href="{{ url_for('account.settings') }}">Account Settings</a>
        </div>

        <div class="pl-3 mb-2 {{ 'border-2 border-brand-red' if subscription }}">
            <a href="#">Subscription</a>
        </div>

        <div class="pl-3">
            <a href="#">The Journey</a>
        </div>

    </div>
</aside>